# Developement dependencies
black  # formatage de code
pylint  # vérification de code
mypy  # vérification de type
pytest  # test unitaire

## Code dependencies
requests>=2.32  # requête HTTP
types-requests>=2.32  # typage de requête HTTP
PyQt5>=5.15.11

## Package dependencies
pyinstaller
